<!DOCTYPE html>
<html>
<head>
  <title>Sofinteractive</title>
  <meta name="author" content="Sofinteractive" />
  <meta name="description" content="We startup your startup. We handcraft web applications" />
	<meta name="keywords"  content="web applications, custom websites, one page website, nice websites, cheap websites, responsive websites" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'jquery.fullPage', media: 'all' %>
  <%= stylesheet_link_tag    'examples', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <%= javascript_include_tag 'jquery.fullPage.min' %>
   <%= javascript_include_tag 'examples' %>
  <%= csrf_meta_tags %>
  <!--font awesome-->
  <script src="https://use.fontawesome.com/811422e9bc.js"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <!-- mobile -->
       <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified JavaScript for bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
</head>
<body id ="bs-over">
	<div class="top">
	</div>
	<!-- Mobile Menu CLose icon (will only appear in mobile devices-->
	<div class="menu">
		<div class="icon-close">
			<i class="material-icons">close</i>
		</div>

    	<!-- Mobile Menu will only appear in mobile devices -->
		<ul class="mobile-menu">
			<li><a href="/">Templates</a></li>
			<li><a href="/">Pricing</a></li>
			<li><a href="/">Contact</a></li>
			<li><a href="/">FAQ</a></li>
        	<li><a href="/">Login</a></li>
		</ul>
	</div>
	<div class="main-nav">
		<!--for mobile-->
	<div class="icon-menu pull-right">
  		<i class="material-icons">menu</i>
  	</div>
			<img class="img-responsive" src="/images/horizontal.png" id="logo" width="325px"/>
		<ul class="nav pull-right">
			<li>Templates</li>
			<li>Pricing</li>
			<li>Contact Us</li>
			<li>Login</li>
		</ul>
	</div>

<%= yield %>

<!--pre-footer-->
		<div class="pre-footer">
			<div class="container">
				<ul>
					<li><a href="https://www.facebook.com/paseo.xejasmin/" target="_blank"><i class="fa fa-facebook fa-2x" id="fb" aria-hidden="true"></i></a>
</li>
					<li><a href="https://twitter.com/paseoxejasmin" target="_blank"><i  class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
					<li><a href="http://instagram.com/paseoxejasmin" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div>
		<!--footer-->
		<div class="footer">
				<h4>Restaurante Paseo Xejasmin, km 87.5, carretera interamericana,Tecpan, 502, Guatemala</h4>
				<a href="#section-1"><i class="fa fa-chevron-up fa-2x" aria-hidden="true"></i></a>
			</div>
<!-- Latest compiled and minified JavaScript for bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
 <script type="text/javascript">
      var main = function() {
     /* Push the body and the nav over by 280px over */
      $('.icon-menu').click(function() {
        $('.menu').animate({
          right: "0px"
        }, 200);

        $('body').animate({
          right: "280px"
        }, 200);
        });

      /* Then push them back */
        $('.icon-close').click(function() {
        $('.menu').animate({
          right: "-280px"
        }, 200);

        $('body').animate({
          right: "0px"
        }, 200);
        });

        $('.mobile-menu').click(function() {
      $('.menu').animate({
        right:"-280px"
      },200);

      $('body').animate({
      right: "0px"
    }, 200);
});
      };

      $(document).ready(main);
    </script>
</body>
</html>
